<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #caseNumber,
        .evidence {
            border-radius: 10px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-right">
            <strong>Привет, <span th:text="${username} + '!'"></span></strong>
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-link">Выйти</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-3">Поиск судебного дела</h1>
            <form id="searchForm" method="post" th:object="${GetEvidenceForm}">
                <div class="form-group">
                    <input type="text" class="form-control" id="caseNumber" name="caseNumber" th:field="*{caseNumber}">
                    <small class="text-danger" th:if="${#fields.hasErrors('caseNumber')}"
                           th:errors="*{caseNumber}"></small>
                </div>
                <button type="submit" class="btn btn-primary btn-block evidence">Найти</button>
                <a th:href="@{/add-evidence}" class="btn btn-secondary btn-block evidence">Добавить новое дело</a>
            </form>
        </div>
    </div>

    <!-- Результаты поиска (карточка с данными дела) будут отображаться здесь -->
    <div class="row mt-4" id="searchResults" th:if="${evidence}">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Дело №<span th:text="${evidence.caseNumber}"></span></h5>
                    <p class="card-text" th:text="${evidence.caseDescription}"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center alert alert-danger alert-dismissible mt-3 fade show" role="alert" th:if="${evidenceEmpty}">
        <h4 class="alert-heading">Неизвестное дело</h4>
        <th:block th:text="${evidenceEmpty}"></th:block>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>